@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Bluu Next";
  src: url("./assets/bluu-next/BluuNext-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
